@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Share+Tech&display=swap');

@import url(./navbar.css);
@import url(./footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One';
}

.navbar .home{
    text-decoration: underline;
}


body{
    word-wrap: break-word;
    overflow-wrap: break-word;
}




h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.wrapper{
    width: 100%;
    margin: 0 auto;
}
.wrapper #title-pag{
    background: linear-gradient(90deg, #c8ff00 0%, #ff7700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #000;
    text-align: center;
    font-family: 'Bebas Neue';
    letter-spacing: 30px;
}

main{
    display: block;
    background-color: white;
}





section.module.content{
    padding: 200px 0;
    background: #000000

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    text-align: center;
}





section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
section.module.parallax h1{
    text-align: center;
    padding-top: 8rem;
    font-size: 90px;
    z-index: 50;
}
section.module h2{
    margin-bottom: 40px;
    font-size: 60px;
    font-family: 'Bebas Neue';
}
section.module p{
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}



section.module.parallax-1{
    background-image: url(../img/rachael-crowe-FUQUJQzf6jw-unsplash.jpg);
    background-position: bottom;
}


section.module.parallax-2{
    background-image: url(../img/ChatGPT\ Image\ 12\ de\ jun.\ de\ 2025\,\ 19_14_48.png);
}


section.module.parallax-3{
    background-image: url(../img/DIA-DE-CAMPO-DE-VERÃO-COPACOL-2025-Foto-Divulgação-6.jpeg);
}
section.module .p-btn-sustent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .p-btn-sustent button{
    width: 30%;
    height: 70px;
    margin-top: 3rem;
    font-size: 23px;
    cursor: pointer;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,67,67,1) 0%, rgba(111,27,27,1) 90% );
    color: white;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 20px rgba(255, 255, 255, 0.288);
    transition: ease-out .3s;
}
section .p-btn-sustent button:hover{
    transform: scale(0.98);
    transition: ease-in .3s;
}



section.module.parallax-4{
    background-image: url(../img/IA-generativa.jpeg);
}
section.module .p-btn-IA{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .p-btn-IA button{
    width: 30%;
    height: 70px;
    margin-top: 3rem;
    font-size: 23px;
    cursor: pointer;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 20px rgb(121, 121, 121);
    transition: ease-out .3s;
}
section .p-btn-IA button:hover{
    transform: scale(0.98);
    transition: ease-in .3s;
}



section.module.parallax-5{
    background-image: url(../img/9107d-roda-de-conversa-juventude-ft-seju-2-.jpeg);
}
section.module .p-btn-cultivo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .p-btn-cultivo button{
    width: 30%;
    height: 70px;
    margin-top: 3rem;
    font-size: 23px;
    cursor: pointer;
    background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 20px rgb(121, 121, 121);
    transition: ease-out .3s;
}
section .p-btn-cultivo button:hover{
    transform: scale(0.98);
    transition: ease-in .3s;
}



@media (max-width:768px){
    section.module p{
        font-size: 20px;
    }
}
@media (max-width: 700px){
    .wrapper #title-pag{
        letter-spacing: 10px;
    }
    section.module.parallax h1{
        font-size: 40px;
    }
    section .p-btn-sustent button{
        width: 80%;
    }
    section .p-btn-IA button{
        width: 80%;
    }
    section .p-btn-cultivo button{
        width: 80%;
    }
}
@media (max-width: 440px){
    section .p-btn-sustent button{
        width: 100%;
        font-size: 1.9rem;
    }
    section .p-btn-IA button{
        width: 100%;
    }
    section .p-btn-cultivo button{
        width: 100%;
    }
}